#wrapper
  = render partial: 'shared/app_nav'
  #page-wrapper
    = hidden_field_tag :twilioToken, 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzY29wZSI6InNjb3BlOmNsaWVudDpvdXRnb2luZz9hcHBTaWQ9QVBlZjkyYzI5YjQzNzNjZmJmNGQxNzljM2NmNDA2Y2MyYyIsImlzcyI6IkFDNTlkZGFjNTFmNjEzMzkwMjg3MmQ2MzJmNWU1Y2NhOWEiLCJleHAiOjE0MzEwNDI2MzR9.W9IYtD1VRBug97rfZ95CUydvHqu72Kw39wiB1TlqEAk'
    .container-fluid
      / Page Heading
      .row
        .col-lg-12
          %h1.page-header
            Accounts
            %small Customers Information
          %ol.breadcrumb
            %li.active
              %i.fa.fa-users
            Accounts
      .row
        .col-lg-12
          .panel.panel-default
            .panel-heading
              %h3.panel-title
                %i.fa.fa-users.fa-fw
                User lists
            .panel-body
              .table-responsive
                %table.table.table-bordered.table-hover.table-striped.account-tables
                  %thead
                    %tr
                      %th Name
                      %th.hide1 Notes
                      %th.center Actions
                  %tbody
                    %tr
                      %td Duc Phan
                      %td.hide1 Interested in Property #4
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                      %td.hidden.number
                        14085109019
                    %tr
                      %td
                        %a.edit-account Aathavan Thaybaran
                      %td.hide1 Interested in Property #2, Like Thai food, Tamil, ...
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                      %td.hidden.number
                        14082217183
                    %tr
                      %td Krishnan
                      %td.hide1 Prefer Evergreen Valley area
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                      %td.hidden.number
                        15105792793
                    %tr
                      %td Rama
                      %td.hide1 Max offer $600k
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                    %tr
                      %td Himashi
                      %td.hide1 4 family members, Cuppertino
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                    %tr
                      %td Test User 1
                      %td.hide1 Test note #1
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                    %tr
                      %td Test User 2
                      %td.hide1 Test note #2
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o
                    %tr
                      %td Test User 3
                      %td.hide1 Test note #3
                      %td.center
                        %a
                          %i.fa.fa-phone
                          %i.fa.fa-envelope-o
                          %i.fa.fa-comment-o


  = render partial: 'shared/suggestion'
  = render partial: 'shared/mobile_call'
  = render partial: 'shared/edit_account'
